<table class="table table table-bordered">
  <thead>
    <tr>
      <th> X </th>
      <th>current month - 12</th>
      <th>current month - 11</th>
      <th>current month - 10</th>
      <th>current month - 9</th>
      <th>current month - 8</th>
      <th>current month - 7</th>
      <th>current month - 6</th>
      <th>current month - 5</th>
      <th>current month - 4</th>
      <th>current month - 3</th>
      <th>current month - 2</th>
      <th>current month - 1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Page Views </td>
      <td> Page Views current month - 12 </td>
      <td> Page Views current month - 11 </td>
      <td> Page Views current month - 10 </td>
      <td> Page Views current month - 9 </td>
      <td> Page Views current month - 8 </td>
      <td> Page Views current month - 7 </td>
      <td> Page Views current month - 6 </td>
      <td> Page Views current month - 5 </td>
      <td> Page Views current month - 4 </td>
      <td> Page Views current month - 3 </td>
      <td> Page Views current month - 2 </td>
      <td> Page Views current month - 1 </td>
    </tr>
    <tr>
      <td> Downloads </td>
      <td> Downloads current month - 12 </td>
      <td> Downloads current month - 11 </td>
      <td> Downloads current month - 10 </td>
      <td> Downloads current month - 9 </td>
      <td> Downloads current month - 8 </td>
      <td> Downloads current month - 7 </td>
      <td> Downloads current month - 6 </td>
      <td> Downloads current month - 5 </td>
      <td> Downloads current month - 4 </td>
      <td> Downloads current month - 3 </td>
      <td> Downloads current month - 2 </td>
      <td> Downloads current month - 1 </td>
    </tr>
  </tbody>
</table>

